/* Code tidied up by ScrapBook */
@font-face {
  font-family: "revicons";
  font-style: normal;
  font-weight: normal;
  src: url("revicons.eot") format("embedded-opentype"), url("revicons.woff") format("woff"), url("revicons.ttf") format("truetype"), url("revicons.svg") format("svg");
}
@-moz-document url-prefix("") {
  rs-layer-wrap, rs-mask-wrap, rs-cbg-mask-wrap { perspective: none; }
}
@supports not (-ms-high-contrast:none) {
  .rs-fsv .fullcoveredvideo audio { object-fit: cover ! important; }
  .rs-fsv .fullcoveredvideo video { object-fit: cover ! important; }
}
@keyframes rev-ani-mouse {
0% { opacity: 1; top: 29%; }
15% { opacity: 1; top: 70%; }
50% { opacity: 0; top: 70%; }
100% { opacity: 0; top: 29%; }
}
@keyframes tp-rotateplane {
0% { transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
50% { transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
100% { transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); }
}
@keyframes tp-scaleout {
0% { transform: scale(0); }
100% { transform: scale(1); opacity: 0; }
}
@keyframes tp-bouncedelay {
0%, 80%, 100% { transform: scale(0); }
40% { transform: scale(1); }
}
@keyframes tp-rotate {
100% { transform: rotate(360deg); }
}
@keyframes tp-bounce {
0%, 100% { transform: scale(0); }
50% { transform: scale(1); }
}
@keyframes rs-revealer-6 {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
@keyframes rs-revealer-6 {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
@keyframes rs-revealer-7 {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
@keyframes rs-revealer-7 {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
@keyframes rs-revealer-8 {
0% { transform: scale(0, 0); opacity: 0.5; }
100% { transform: scale(1, 1); opacity: 0; }
}
@keyframes rs-revealer-8 {
0% { transform: scale(0, 0); opacity: 0.5; }
100% { transform: scale(1, 1); opacity: 0; }
}
@keyframes rs-revealer-9 {
0%, 100% { transform: scale(0); }
50% { transform: scale(1); }
}
@keyframes rs-revealer-9 {
0%, 100% { transform: scale(0); }
50% { transform: scale(1); }
}
@keyframes rs-revealer-10 {
0%, 100%, 40% { transform: scaleY(0.4); }
20% { transform: scaleY(1); }
}
@keyframes rs-revealer-10 {
0%, 100%, 40% { transform: scaleY(0.4); }
20% { transform: scaleY(1); }
}
@keyframes rs-revealer-11 {
0%, 100%, 70% { transform: scale3d(1, 1, 1); }
35% { transform: scale3d(0, 0, 1); }
}
@keyframes rs-revealer-11 {
0%, 100%, 70% { transform: scale3d(1, 1, 1); }
35% { transform: scale3d(0, 0, 1); }
}
@keyframes rs-revealer-12 {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
@keyframes rs-revealer-12 {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
@keyframes rs-revealer-13 {
0%, 100% { transform: translate(0px); }
25% { transform: translate(160%); }
50% { transform: translate(160%, 160%); }
75% { transform: translate(0px, 160%); }
}
@keyframes rs-revealer-13 {
0%, 100% { transform: translate(0px); }
25% { transform: translate(160%); }
50% { transform: translate(160%, 160%); }
75% { transform: translate(0px, 160%); }
}
@keyframes rs-revealer-14-1 {
0% { transform: rotate3d(0, 0, 1, 0deg) translate3d(0px, 0px, 0px); }
20% { transform: rotate3d(0, 0, 1, 0deg) translate3d(80%, 80%, 0px); }
80% { transform: rotate3d(0, 0, 1, 360deg) translate3d(80%, 80%, 0px); }
100% { transform: rotate3d(0, 0, 1, 360deg) translate3d(0px, 0px, 0px); }
}
@keyframes rs-revealer-14-2 {
0% { transform: rotate3d(0, 0, 1, 0deg) translate3d(0px, 0px, 0px); }
20% { transform: rotate3d(0, 0, 1, 0deg) translate3d(80%, -80%, 0px); }
80% { transform: rotate3d(0, 0, 1, 360deg) translate3d(80%, -80%, 0px); }
100% { transform: rotate3d(0, 0, 1, 360deg) translate3d(0px, 0px, 0px); }
}
@keyframes rs-revealer-14-3 {
0% { transform: rotate3d(0, 0, 1, 0deg) translate3d(0px, 0px, 0px); }
20% { transform: rotate3d(0, 0, 1, 0deg) translate3d(-80%, -80%, 0px); }
80% { transform: rotate3d(0, 0, 1, 360deg) translate3d(-80%, -80%, 0px); }
100% { transform: rotate3d(0, 0, 1, 360deg) translate3d(0px, 0px, 0px); }
}
@keyframes rs-revealer-14-4 {
0% { transform: rotate3d(0, 0, 1, 0deg) translate3d(0px, 0px, 0px); }
20% { transform: rotate3d(0, 0, 1, 0deg) translate3d(-80%, 80%, 0px); }
80% { transform: rotate3d(0, 0, 1, 360deg) translate3d(-80%, 80%, 0px); }
100% { transform: rotate3d(0, 0, 1, 360deg) translate3d(0px, 0px, 0px); }
}
@keyframes rs-revealer-14-1 {
0% { transform: rotate3d(0, 0, 1, 0deg) translate3d(0px, 0px, 0px); }
20% { transform: rotate3d(0, 0, 1, 0deg) translate3d(80%, 80%, 0px); }
80% { transform: rotate3d(0, 0, 1, 360deg) translate3d(80%, 80%, 0px); }
100% { transform: rotate3d(0, 0, 1, 360deg) translate3d(0px, 0px, 0px); }
}
@keyframes rs-revealer-14-2 {
0% { transform: rotate3d(0, 0, 1, 0deg) translate3d(0px, 0px, 0px); }
20% { transform: rotate3d(0, 0, 1, 0deg) translate3d(80%, -80%, 0px); }
80% { transform: rotate3d(0, 0, 1, 360deg) translate3d(80%, -80%, 0px); }
100% { transform: rotate3d(0, 0, 1, 360deg) translate3d(0px, 0px, 0px); }
}
@keyframes rs-revealer-14-3 {
0% { transform: rotate3d(0, 0, 1, 0deg) translate3d(0px, 0px, 0px); }
20% { transform: rotate3d(0, 0, 1, 0deg) translate3d(-80%, -80%, 0px); }
80% { transform: rotate3d(0, 0, 1, 360deg) translate3d(-80%, -80%, 0px); }
100% { transform: rotate3d(0, 0, 1, 360deg) translate3d(0px, 0px, 0px); }
}
@keyframes rs-revealer-14-4 {
0% { transform: rotate3d(0, 0, 1, 0deg) translate3d(0px, 0px, 0px); }
20% { transform: rotate3d(0, 0, 1, 0deg) translate3d(-80%, 80%, 0px); }
80% { transform: rotate3d(0, 0, 1, 360deg) translate3d(-80%, 80%, 0px); }
100% { transform: rotate3d(0, 0, 1, 360deg) translate3d(0px, 0px, 0px); }
}
@keyframes rs-revealer-15 {
25% { transform: translateX(30px) rotate(-90deg) scale(0.5); }
50% { transform: translateX(30px) translateY(30px) rotate(-180deg); }
75% { transform: translateX(0px) translateY(30px) rotate(-270deg) scale(0.5); }
100% { transform: rotate(-360deg); }
}
@keyframes rs-revealer-15 {
25% { transform: translateX(30px) rotate(-90deg) scale(0.5); }
50% { transform: translateX(30px) translateY(30px) rotate(-179deg); }
50.1% { transform: translateX(30px) translateY(30px) rotate(-180deg); }
75% { transform: translateX(0px) translateY(30px) rotate(-270deg) scale(0.5); }
100% { transform: rotate(-360deg); }
}
